body {
  text-align: center;
  background: linear-gradient(to bottom, #c9dcf0 0%, white 100%);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: auto;
  font-family: 'Encode Sans SC', sans-serif;
}

.App {
  padding-top: 15px;
  padding-left: 2px;
  padding-right: 2px;
}

/* CARD RESULTS PAGE + CARDCARD COMPONENT STYLING */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.card-card {
  padding: 0.2em;
  margin: 0.1em;
  width: 30%;
  height: 40%;
  font-family: 'Encode Sans SC', sans-serif;
}

.card-card-card {
  padding-top: 1.2em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.card-card > button {
  border-radius: 36%;
  margin: 1em;
  padding: 0.25em;
  font-family: 'Encode Sans SC', sans-serif;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #dda55cd5;
}

.card-card > button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.card-card > button span:after {
  content: '◓';
  position: absolute;
  display: inline-block;
  opacity: 0;
  transition: 0.3s;
}

.card-card > button:hover span {
  padding-right: 1em;
}

.card-card > button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-card > button:hover {
  border-radius: 40%;
  margin: 1em;
  padding: 0.5em;
  font-family: 'Encode Sans SC', sans-serif;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* CARD PAGE STYLING */
/* ~~~~~~~~~~~~~~~~~ */

.card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-details div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 2;
  margin: 0;
  padding: 1em;
}

.card-page img {
  width: 60%;
  margin: 2em;
  border-radius: 30%;
}

/* SELLER RESULTS PAGE STYLING */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hover-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 45%;
  height: auto;
  font-family: 'Encode Sans SC', sans-serif;
  padding: 0.5em;
}

.hover-div img {
  width: 20em;
  display: flex;
  flex-flow: row wrap;
}

.hover-div .hover-div-layer_bottom {
  width: 20em;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.hover-div .hover-div-layer_top {
  opacity: 0;
  position: absolute;
  width: 20em;
  height: inherit;
}

.hover-div:hover .hover-div-layer_top {
  opacity: 1;
}

.hover-div .hover-div-text {
  display: flex;
  flex-flow: row wrap;
  font-size: xx-large;
  text-align: center;
  background: rgba(25, 39, 102, 0.7);
  transition: all 0.4s ease-in-out 0s;
  color: #fff;
  width: 100%;
  height: 100%;
}

/* USER (SELLER) PAGE STYLING */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.add-card button {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Pokemon_Trading_Card_Game_cardback.jpg/220px-Pokemon_Trading_Card_Game_cardback.jpg');
  background-size: 5em;
  background-position: center;
  width: 5em;
  height: 7em;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  text-shadow: 2px 2px 5px rgb(255, 115, 60);
  cursor: pointer;
  border-radius: 5%;
}

.add-card button:hover {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Pokemon_Trading_Card_Game_cardback.jpg/220px-Pokemon_Trading_Card_Game_cardback.jpg');
  background-size: 7em;
  background-position: center;
  width: 7em;
  height: 10em;
  color: white;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgb(255, 89, 60);
  border-radius: 5%;
}

.card-page-buttons {
  padding: 15px;
  background-color: #f0f0f0;
  border: 3px outset darkgray;
  border-radius: 15px;
  width: 17vw;
  margin: 10px;
}

.card-page-buttons:hover {
  border: 3px inset lightgray;
}
